/* Base Colours */
$saggezza-green: #90d003;
$saggezza-dark-green: #445f2f;
$saggezza-outline-green: $saggezza-green;
$saggezza-outline-white: #ffffff;

/* Greys */
$saggezza-grey-1: #4a4a4a;
$saggezza-grey-2: #9fa6ad;
$saggezza-grey-3: #cbcbcb;
$saggezza-grey-4: #f1f1f1;

/* Secondary Colours */
$saggezza-blue: #009acc;
$saggezza-dark-blue: #006080;

$saggezza-orange: #d87e2d;
$saggezza-dark-orange: #a95914;

$saggezza-red: #ed2939;
$saggezza-dark-red: #c10b1a;

$saggezza-pink: #c01672;
$saggezza-purple: #a43dc5;
$saggezza-aqua: #009e8b;
