@font-face {
    font-family: "DIN Next";
    font-weight: 400;
    src: url("fonts/din_next_regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "DIN Next";
    font-weight: 200;
    src: url("fonts/din_next_light.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "DIN Next";
    font-weight: 700;
    src: url("fonts/din_next_bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "DIN Next Slab";
    font-weight: 500;
    src: url("fonts/din_next_slab_medium.ttf") format("truetype");
  }
  